* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100vh;
}

button {
  margin: 2mm;
  width: 200px;
  padding: 5mm;
  font-size: 24pt;
  border-radius: 5mm;
}

button:hover{
  background-color: aliceblue;
}

#topo{
  position: fixed;
}

div{
  width: 100%;
  margin: 10mm;
  display: flex;
  justify-content: center;
}

#container{
  flex-direction: column;
}

#container *{
  font-size: 14pt;
  margin: 1mm;
}