
/*width: calc(100% - 10mm);*/

* {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    background-color: #E0BAF7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D8C8DD'/%3E%3Cstop offset='1' stop-color='%23E0BAF7'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

#container {
    width: 100%;
    height: 100vh;
}

.row{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#topo {
    width: 100%;
    height: 25mm;
    background: rgb(221, 219, 255);
    background: linear-gradient(45deg, rgba(221, 219, 255, 1) 0%, rgba(2, 0, 36, 1) 50%, rgba(0, 212, 255, 1) 50%, rgba(221, 249, 255, 1) 99%);
    -webkit-box-shadow: 0px 0px 15px 5px #000000;
    box-shadow: 0px 0px 15px 5px #000000;
}

#form{
    border-radius: 5mm;
    width: 300px;
    height: 450px;
    padding: 10mm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 5px #7f7f7f;
}

#form *{
    width: calc(100% - 20mm);
}

#username, #password{
    margin-top: 2mm;
    padding-left: 2mm;
    font-size: 14pt;
    height: 10mm;
    border: 1px solid #333;
    border-radius: 2mm;
    background: white;
    opacity: 50%;
}

#username:hover, #password:hover{
    padding-left: 2mm;
    font-size: 14pt;
    opacity: 100%;
    border: 1px solid rgb(240, 108, 13);
}

.lb-login{
    margin-top: 2mm;
    font-size: 14pt;
    font-weight: 100;
}

.btn-enviar{
    margin-top: 5mm;
    margin-bottom: 2mm;
    border-radius: 3mm;
    border: 1px solid #333;
    font-size: 14pt;
    height: 12mm;
    background-color: rgb(240, 108, 13);
    color: white;
}

.btn-enviar:hover{
    background-color: rgb(245, 124, 38);
    font-size: 16pt;
    box-shadow: 0px 0px 15px 5px #7f7f7f;
    border: 1px solid white;
}

#img{
    margin-bottom: 10mm;
    background: none;
}

a{
    margin-top: 2mm;
    text-align: center;
}